include includes/header.html



section
  h1 d3.js
  h3 Data Driven Documents.
  p <small><a href="http://twitter.com/toonketels">Toon Ketels</a></small>

section
  h2 What is this about
  ul
    li Insert SVG into DOM
    li Data joins
    li Scales
    li Axis & labels
    li Axis & ticks
    li Animations
    li Update chart when data changes


include sections/svg.jade
include sections/svg-dom.jade
include sections/insert-svg-dom.jade
include sections/insert-content-svg.jade
include sections/linear-scale.jade
include sections/ordinal-scale.jade
include sections/labels-axis.jade
include sections/y-axis.jade
include sections/labels.jade
include sections/animation.jade
include sections/updates-one.jade
include sections/updates-two.jade

section
  h2 That's it.

Section
  h2 Recap
  ul
    li Inserted SVG element into DOM
    li Bound data with elements and use `enter()` to display them
    li Added margin to our main svg element with a `g`
    li Created scales to convert from input domain to output
    li Used scales to create axis which create labels
    li Used scales to create axis which create ticks
    li Animate items with `transition()`
    li Update data and use animation to update chart

section
  h2 Thanks
  h4 Toon Ketels
  p.
    <small><a href="http://twitter.com/toonketels">@toonketels</a></small>



include includes/footer.html