include includes/header.html



section
  h1 d3.js
  h3 Data Driven Documents.
  p <small><a href="http://twitter.com/toonketels">Toon Ketels</a></small>

section
  h2 What is this about
  ul
    li SVG

include sections/svg.jade
include sections/svg-dom.jade
include sections/insert-svg-dom.jade
include sections/insert-content-svg.jade
include sections/data-joins.jade
include sections/recap-one.jade
include sections/margin.jade
include sections/linear-scale.jade

section
  h2 meta

section
  h2 Thanks
  h4 Toon Ketels
  p.
    <small><a href="http://twitter.com/toonketels">@toonketels</a></small>



include includes/footer.html