section
  section
    h2 Data Joins
    h4 Joining elements and data together

  section
    h2 What
    ul
      li.fragment Collections of SVG elements can be joined with data to create new collections.
      li.fragment By calling some methods we can get sub collections
    pre.fragment
      code.
       .enter()
       .exit()

  section
    h2 Our setup
    pre
      code.
        <svg width="700" height="500">
          <circle cx="100" cy="250" r="30"></circle>
          <circle cx="300" cy="250" r="30"></circle>
          <circle cx="500" cy="250" r="30"></circle>

  section
    h3 Select circles and join with data
    pre
      code.
        var data = [100, 200, 300, 400, 500, 600]
    
        var canvas = d3.select('svg');
    
        // Collection of elements joined with data
        var circles = canvas.selectAll('circle')
          .data( data );

  section
    h3 Act on current collection of elements
    pre
      code.
        var circles = canvas.selectAll('circle')
          .data( data );
    pre.fragment
      code.
        circles
          .attr('r', 40);
  section
    h3 Act on collection of new elements
    pre
      code.
        var circles = canvas.selectAll('circle')
          .data( data );

        circles
          .attr('r', 40);

    pre.fragment
      code.
        circles.enter().append('circle')
          .attr('cx', function(d, i){ return d })
          .attr('cy', 250)
          .attr('r', 0)
          .style('fill', 'green')
          .attr('r', 15);

  section
    h3 Act on current collection of items
    pre
      code.
        var circles = canvas.selectAll('circle')
          .data( data );

        circles
          .attr('r', 40);

        circles.enter().append('circle')
          .attr('cx', function(d, i){ return d })
          .attr('cy', 250)
          .attr('r', 0)
          .style('fill', 'green')
          .attr('r', 15);
    pre.fragment
      code.
        circles
          .style('fill', 'blue');

  section
    h3 Act on items to be removed
    pre
      code.
        var circles = canvas.selectAll('circle')
          .data( data );

        circles
          .attr('r', 40);

        circles.enter().append('circle')
          .attr('cx', function(d, i){ return d })
          .attr('cy', 250)
          .attr('r', 0)
          .style('fill', 'green')
          .attr('r', 15);

        circles
          .style('fill', 'blue');
    pre.fragment
      code.
        circles.exit()
          .attr('r', 5)
          .remove();

  section
    h3 Enter - update - exit pattern
    pre
      code.
        // Data binding
        var circles = canvas.selectAll('circle')
          .data( data );

        // Update
        circles.attr('r', 40);

        // Enter
        circles.enter().append('circle')

        // Update
        circles.style('fill', 'blue');

        // Exit
        circles.exit().remove();