section
  section
    h2 Real labels
    blockquote Should we display what the values represent as label?

  section
    h3 Change the data data source
    pre.fragment
      code.
        var data = [{value: 26009896, name: "angular.js"},
                    {value: 179804755,  name: "backbone.js"},
                    {value: 494478797,  name: "batman.js"},
                    {value: 2718505888,  name: "ember.js"},
                    {value: 1765686465,  name: "knockout.js"},
                    {value: 4015692380,  name: "sammy.js"},
                    {value: 3611612096, name: "spine.js"}];

  section
    h3 Update with data accessor functions

  section
    pre
      code.
        max_overall = d3.max(data),

    pre.fragment
      code.
        max_overall = d3.max(data, function(d, i) { return d.value })

  section
    pre
      code.
        .attr('width', function(d, i) { return x(d.value) })
   
    pre.fragment
      code.
        .attr('width', function(d, i) { return x(d.value) })


  section
    h3 Same for our labels
    pre.fragment
      code.
        .domain(data)

    pre.fragment
      code.
        .domain(data.map(function(d, i){ return d.name }))

  section
    pre
      code.
        .attr('height', y)

    pre.fragment
      code.
        .attr('height', function(d, i) { return y(d.name) })

  section
    h3 Got it?
    ul
      li.fragment To use real labels they need to be in the data source
      li.fragment We use <em>data accessor functions</em> to tell d3 what attributes to use


  section 
    h3 What we have so far
    ul
      li Insert SVG container (canvas)
      li Create new elements via data binding
      li Use linear scale to convert width
      li Use ordinal scale to convert Y value
      li Display labels through axis
      li Display ticks through axis