section
  section
    h2 Add margin
    h4 4. Don't we need same space for labels and such?

  section
    h2 Create some dimensions
    pre.fragment
      code.
        canvas_d = {width: 700, height: 500},
    pre.fragment
      code.
        margin = {top: 50, right: 20, bottom: 20, left: 100},
    pre.fragment
      code.
        chart_d = {
          width: canvas_d.width -  margin.right - margin.left,
          height: canvas_d.height - margin.top - margin.bottom
        },
  section
    h2 Create the "chart"
    pre.fragment
      code
        chart = canvas.append('g')
            .attr( 'transform', 'translate('+ margin.left +', '+ margin.top +')' )
              .attr( 'width' , chart_d.width)
              .attr('height', chart_d.height);

  section
    h2 Update bars drawing code
    pre.fragment
      code.
        chart.selectAll('rect')
            .data( data )
          .enter().append('rect')
            .attr('x', 0)
            .attr('width', function(d, i){ return chart_d.width * (d/max_overall) })
            .attr('y',  function(d, i) { return 60 * i })
            .attr('height', 50)
