section
  section 
    h2 Where were we?
    pre.fragment
      code.
        canvas.selectAll('rect')
            .data( data )
          .enter().append('rect')
            .attr('x', 0)
            .attr('width', function(d, i){ return canvas_d.width * (d/max_overall) })
            .attr('y',  function(d, i) { return 70 * i })
            .attr('height', 50);

  section 
    h2 What we have so far
    ul.fragment
      li Insert SVG container (canvas)
      li Create new elements via data binding
      li Set attributes to those new items
