section
  section
    h2 SVG in the source
    h4 1. Hardcoded into the HTML source

  section
    h2 SVG in the source
    pre
      code.
        <svg width="700" height="500">
          <rect x="0" width="5" y="0" height="50"></rect>
          <rect x="0" width="31" y="70" height="50"></rect>
          <rect x="0" width="86" y="140" height="50"></rect>
          <rect x="0" width="474" y="210" height="50"></rect>
          <rect x="0" width="308" y="280" height="50"></rect>
          <rect x="0" width="700" y="350" height="50"></rect>
          <rect x="0" width="630" y="420" height="50"></rect>
        </svg>