section

  section
    h2 SVG
    h4 Scalable Vector Graphics

  section
    h3 What are SVG?
    blockquote Scalable Vector Graphics (SVG) is an XML-based vector image format for two-dimensional graphics that has support for interactivity and animation. The SVG specification is an open standard developed by the World Wide Web Consortium (W3C) since 1999.
    p
      small <a href="http://en.wikipedia.org/wiki/Scalable_Vector_Graphics">Wikipedia</a>

  section
   h3 What we need to know
   ul
     li XML based - "tags and attributes"
     li optimized for images - better for visualization

  section
    h3 SVG elements
    pre
      code.
        <svg>
        <rect>
        <path>
        <circle>
        <text>

  section
    h3 SVG attributes
    pre.fragment
      code.
        <rect x="0" width="5" y="0" height="50"></rect>
    pre.fragment
      code.
        <circle cx="100" cy="250" r="40"></circle>