section
  section
    h2 Update the entire axis
    blockquote What's with all that unused whitespace?

  section
    p Ask ourself: "What would need to change to update our axis?"

  section
    ul
      li.fragment axis creator function
      li.fragment scale function
      li.fragment scale's input domain

  section
    pre
      code.
        .domain([0, 4000])

    pre.fragment
      code.
        .domain([0, 2000])

  section
    p To update the axis, just <em>update the scale</em> and call something on the axis again.

  section
    pre.fragment
      code.
        // Set the current overal max;
        max_overall = d3.max(data, function(d, i) { return d.value });
    pre.fragment
      code.
        // Update the x scale
        x.domain([0, max_overall])
    pre.fragment
      code.
        // Update x axis
        axis_x
          .transition()
            .duration(600)
            .call(axis_x_f);
    pre.fragment
      code.
        // Update the bars with new data
        bars
            .data(data)
          .transition()
            .delay(800)
            .duration(600)
            .attr('width', function(d, i) { return x(d.value) });

  section
    h3 Got it?
    ul
      li.fragment We can update anything
      li.fragment Always ask: "For it to update, what needs to change?"
      li.fragment Change that value and redraw

  section 
    h3 What we have so far
    ul
      li Insert SVG container (canvas)
      li Create new elements via data binding
      li Use linear scale to convert width
      li Use ordinal scale to convert Y value
      li Display labels through axis
      li Display ticks through axis
      li Animate the bars
      li Update the bars when data changes
      li.fragment Update the entire chart when data changes