section
  section
    h2 Ticks
    blockquote How do we create those vertical lines?

  section
    h3 Ticks are automatically created by the axis.

  section
    h3 Same story
    pre.fragment
      code.
        axis_x_f = d3.svg.axis()
            .scale(x)
            .orient('top')
    pre.fragment
      code
        |    .tickPadding(10)
        |    .ticks(5)
        |    .tickSize(chart_d.height, 0, 0)
    
    pre.fragment
      code.
        axis_x = chart.append('g')
            .attr('class', 'axis x')
            .attr( 'transform', 'translate('+ 0 +', '+ chart_d.height +')' )
            .call(axis_x_f);

  section
    h3 Add subticks
    pre.fragment
      code.
        axis_x_f = d3.svg.axis()
            .scale(x)
            .orient('top')
            .tickPadding(10)
            .ticks(5)
            .tickSize(chart_d.height, chart_d.height, 0)
            .tickSubdivide(2)

  section
    h3 Got it?
    ul
      li.fragment We create axis just like before (create/draw)
      li.fragment Just be sure we set a the tick size to charts height <code>tickSize(chart_d.height, chart_d.height, 0)</code>


  section 
    h3 What we have so far
    ul
      li Insert SVG container (canvas)
      li Create new elements via data binding
      li Use linear scale to convert width
      li Use ordinal scale to convert Y value
      li Display labels through axis
      li.fragment Display ticks through axis